[user]
name = Albert ArchLinux
email = albert990624@gmail.com

[credential]
helper = cache

[color]
ui = auto

[init]
defaultBranch = master

[core]
editor = nvim
autocrlf = input
pager = delta
ignorecase = false

[filter "lfs"]
process = git-lfs filter-process
required = true
clean = git-lfs clean -- %f
smudge = git-lfs smudge -- %f
