[user]
  name = Albert
  email = albert990624@gmail.com
[credential]
  helper = cache
[color]
  ui = auto
[init]
  defaultBranch = master
[core]
  editor = nvim
  autocrlf = input
[alias]
  st = status
  ci = commit
  co = checkout
  br = branch
  df = diff
  lg = log --all --oneline --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset)'

[commit]
	template = /Users/albert/CodeSpace/config_archive/my_scripts/script_git/git_template.txt
